%section.country
  %header
    %h1= country.name
  %section.body
    %p
      %b Population:
      = country.population
    %p
      %b Median age:
      = country.median_age
    %p
      %b Life expectancy:
      = country.life_expectancy
    %p
      %b GDP:
      = number_to_currency country.gdp
    %p
      %b Mandatory military service:
      = country.mandatory_military_service