!!!
%html
  %head
    %title CountryApp
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = link_to 'World', world_path
    = link_to 'By Age', by_age_path
    = link_to 'By Population', by_population_path
    = link_to 'Countries with required military service', by_required_service_path
    - if flash[:error]
      .error_msg
        = flash[:error]
    - if flash[:notice]
      .notice_msg
        = flash[:notice]
    = yield

